.carousel{
    width: 100%; /* 100% width of its parent container */
    height: 450px; /* Fixed height */
    overflow: hidden; /* Ensure content doesn't overflow */
}
.carousel {
    width: 100%; /* 100% width of its parent container */
  }
  
  .carousel-inner {
    height: 100%; /* 100% height of the carousel container */
  }
  
  .carousel-item {
    height: 100%; /* 100% height of the carousel container */
  }
  
  .carousel-item img {
    object-fit: cover; /* Maintain aspect ratio and cover the item */
    width: 100%; /* 100% width of the item */
    height: 100%; /* 100% height of the item */
  }
  
   /* Media query for screens smaller than a certain width (e.g., 768px) */
@media (max-width: 768px) {
  .carousel {
      height: 300px; 
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.caption {
  margin-top: 10px;
}

.btn-group {
  margin-top: 10px;
}

.btn {
  margin-right: 5px;
}
