<div class="left-nav d-flex">
  <ul>
    <li><a routerLink="/admin/dashboard">Dashboard</a></li>
    <li><a routerLink="/admin/create-page">Pages</a></li>
    <li><a routerLink="/admin/menu">Menu</a></li>
    <li>
      <a routerLink="/admin/widgets">Widgets</a>
      <!-- <ul *ngIf="widgets.length > 0">
        <li *ngFor="let widget of widgets">
          <a [routerLink]="['/admin/widgets', widget.widget.displayName]">{{ widget.widget.displayName }} {{widget.title}}</a>
        </li>
      </ul> -->
    </li>
    <li><a routerLink="/admin/login">Logout</a></li>
  </ul>
</div>
