<div class="flex-container">
  <div *ngFor="let section of contentSections" [ngClass]="section.widget.class" class="flex-item">
    <ng-container [ngSwitch]="section.widget.type">
      <!-- basic -->
      <app-heading *ngSwitchCase="'heading'" [content]="section.content"></app-heading>
      <app-sub-heading *ngSwitchCase="'heading'" [content]="section.content"></app-sub-heading>
      <app-paragraph *ngSwitchCase="'paragraph'" [content]="section.content"></app-paragraph>
      <app-image *ngSwitchCase="'image'" [src]="section.src"></app-image>

      <!-- derived -->
      <app-carousel *ngSwitchCase="'carousel'" [content]="section.content"></app-carousel>
      <app-services-list *ngSwitchCase="'card'" [content]="section.content"></app-services-list>
      <app-contact-form *ngSwitchCase="'contactform'"></app-contact-form>
    </ng-container>
  </div>
</div>
