
  <div *ngFor="let section of WidgetContent" [ngClass]="section.widget.class">
    <ng-container [ngSwitch]="section.widget.type">
      <!-- basic -->
      <app-heading *ngSwitchCase="'heading'" [content]="section.content"></app-heading>
      <app-sub-heading *ngSwitchCase="'heading'" [content]="section.content"></app-sub-heading>
      <app-paragraph *ngSwitchCase="'paragraph'" [content]="section.content"></app-paragraph>
      <app-image *ngSwitchCase="'image'" [src]="section.src"></app-image>

      <!-- derived -->
      <app-carousel *ngSwitchCase="'Carousel'" [content]="section.content"></app-carousel>
      <app-cards *ngSwitchCase="'Cards'" [content]="section.content"></app-cards>
      <app-contact-form *ngSwitchCase="'contactform'"></app-contact-form>
    </ng-container>
  </div>

