<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          odio vitae elit bibendum tristique. Proin eu ante sed tortor iaculis
          faucibus eu at quam. Duis vel mi id nisi vehicula eleifend ut id quam.
        </p>
        <p>
          Nulla facilisi. Suspendisse potenti. Vivamus tempus posuere tellus,
          nec malesuada tortor vulputate in.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/slide1.jpg" alt="About Us Image" class="img-fluid" />
      </div>
    </div>
  </div>
  