@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.left-nav {
  width: 150px;
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  padding: 10px;
}
  .left-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left-nav li {
    margin-bottom: 10px;
  }
  
  .left-nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    transition: color 0.3s ease; 
  }
  
  .left-nav a:hover {
    color: #ffc107;
    background-color: #555;
  }
  