<h2>Widgets Dashboard</h2>
<div class="d-flex gap-4">
  
  <div class="widget-container">
    <div *ngFor="let widget of widgets" class="widget-card">
      <div class="widget-info">
        <p>{{ widget.displayName }}</p>
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="widget.title" name="title" class="form-control" required>
      </div>
      <button (click)="addToMyWebsite(widget)">Add to Widget</button>
    </div>
  </div>
  
  <div *ngIf="addedWidgets.length > 0" class="added-widgets">
    <h3>Added Widgets</h3>
    <div class="card-container">
      <div *ngFor="let addedWidget of addedWidgets" class="card">
        <div class="card-body">
          <h5 class="card-title">{{ addedWidget.widget.displayName }}</h5>
          <p class="card-text">{{ addedWidget.title }}</p>
          <a [routerLink]="['/admin/widgets', addedWidget.widget.displayName]" class="btn btn-info">Load Content</a>
          <button (click)="deleteAddedWidget(addedWidget._id)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

