<!-- src/app/app.component.html -->
<div class="mb-2">
    <p>Welcome to the Dashboard</p>
    <h2 class="mb-0">Home Page Configuration</h2>
    <app-toggle-button label="Slider" (toggleChange)="onHomeSliderToggle($event)"></app-toggle-button>
    <app-toggle-button label="Products" (toggleChange)="onHomeProductsToggle($event)"></app-toggle-button>
  </div>
  
  <div class="mb-2">
    <h2 class="mb-0">Products Page Configuration</h2>
    <app-toggle-button label="Slider" (toggleChange)="onProductsSliderToggle($event)"></app-toggle-button>
    <app-toggle-button label="Products" (toggleChange)="onProductsProductsToggle($event)"></app-toggle-button>
  </div>
  