<div class="menu-container">
  <h2>Menu Configuration</h2>
  <div class="form-group">
    <label for="pageSelector">Select a Page:</label>
    <select id="pageSelector" [(ngModel)]="selectedPage" name="pageSelector" class="form-control">
      <option *ngFor="let page of pages" [value]="page._id">{{ page.displayName }}</option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="onAddToMenu(selectedPage)">Add to Menu</button>
</div>

  
  <div class="mt-4">
    <h3>Menu Items</h3>
    <div class="grid-container">
      <div *ngFor="let menuItem of menuItems" class="grid-item">
        {{ menuItem.label }}
        <button class="btn btn-danger" (click)="onDeleteMenuItem(menuItem)">Delete</button>
      </div>
    </div>
  </div>