<div class="container mt-5">
    <h2>Our Services</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="assets/education.jpg" class="card-img-top" alt="Education Service">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              odio vitae elit bibendum tristique.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="assets/technology.jpg" class="card-img-top" alt="Technology Service">
          <div class="card-body">
            <h5 class="card-title">Technology</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              odio vitae elit bibendum tristique.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="assets/promotion.jpg" class="card-img-top" alt="Promotion Service">
          <div class="card-body">
            <h5 class="card-title">Promotion</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
              odio vitae elit bibendum tristique.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  