<div class="top-bar bg-info text-dark p-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-11">
        <span class="top-contact-info">
          <span class="contact-pill phone">
            <i class="fas fa-phone"></i> Mobile: +123 456 7890
          </span>
          <span class="contact-pill email">
            <i class="fas fa-envelope"></i> Email: example@example.com
          </span>
        </span>
      </div>
      <div class="col-12 col-sm-1 text-right">
        <span class="top-social-icons">
          <mat-icon mat-fab>share</mat-icon>
          <mat-icon mat-fab>facebook</mat-icon>
        </span>
      </div>
    </div>
  </div>
</div>
